@model PagedList.IPagedList<websachs.Models.LoaiSach>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            TenLoaiSach
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoaiSach)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLoaiSach }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLoaiSach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLoaiSach })
            </td>
        </tr>
    }

</table>

<br />
 Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", "LoaiSachs", new { page }))
