@model IEnumerable<websachs.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.UserName)
=======
            @Html.DisplayNameFor(model => model.User.Email)
>>>>>>> b40e46796320b6a5f16a09b454362186b0b4280f
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHoaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongGiaTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.UserName)
=======
            @Html.DisplayFor(modelItem => item.User.Email)
>>>>>>> b40e46796320b6a5f16a09b454362186b0b4280f
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongGiaTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHoaDon })
        </td>
    </tr>
}

</table>
