@model websachs.Models.Sach

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiSach.TenLoaiSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSach.TenLoaiSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
